<!-- Three -->
<section>
<a name="email"></a>
	{{ if isset .Site.Params.contact "email" }}
		{{ with .Site.Params.contact.title }}<h2>{{ . }}</h2>{{ end }}
		{{ with .Site.Params.contact.content }}<p>{{ . | markdownify }}</p>{{ end }}
	{{ end }}
	<div class="row" id="contact-form">
		{{ if (isset .Site.Params.contact "email") | and (gt (len .Site.Params.contact.email) 0) }}
		<div class="8u 12u$(small)">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<form accept-charset="UTF-8" action="https://usebasin.com/f/64ce30f7a6e4" enctype="multipart/form-data" method="POST">
  <label for="email-address">Email Address</label>
  <input type="email" id="email" name="email" required><br/>
  <label for="comment">Tell me what you'd like to book</label>
  <textarea rows="4" cols="50" name="comment" required>
  </textarea>

  <input type="hidden" id="gotcha" name="_gotcha">
<div class="g-recaptcha" data-sitekey="6Lew3SMUAAAAAJ82QoS7gqOTkRI_dhYrFy1f7Sqy"></div>
  <button type="submit">Submit</button>
</form>
		</div>
		{{ else }}
		<div class="8u 12u$(small)">&nbsp;</div>
		{{ end }}
		<div class="4u$ 12u$(small)">
			<ul class="labeled-icons">
				{{ if isset .Site.Params.contact "address" }}
				<li>
					<h3 class="icon fa-home"><span class="label"></span></h3>
					{{ if isset .Site.Params.contact "gmaps_address" }}
					<a href="https://maps.google.com/?q={{ .Site.Params.contact.gmaps_address}}">
					{{ end }}
					{{ range .Site.Params.contact.address }}
						{{ . }}<br />
					{{ end }}
					{{ if isset .Site.Params.contact "gmaps_address" }}
					</a>
					{{ end }}
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "phone" }}
				<li>
					<h3 class="icon fa-mobile"><span class="label"></span></h3>
					<a href="tel:{{ .Site.Params.contact.phone | replaceRE "[\\s-]" "$1" }}">{{ .Site.Params.contact.phone }}</a>
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "jabber" }}
				<li>
					<h3 class="icon fa fa-mobile"><span class="label"></span></h3>
					<a href="#">{{ .Site.Params.contact.jabber }}</a>
				</li>
				{{ end }}
				{{ if isset .Site.Params.contact "email" }}
				<li>
					<h3 class="icon fa-envelope-o"><span class="label"></span></h3>
					<a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</section>
